@model IEnumerable<WebSpeciliste.Models.SpecialistDto>


<div class="container-xxl py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Specialists List</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" >Home</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Specialists List</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Specialists Listing</h1>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="job-item p-4 mb-4">
                        <div class="row g-4">
                            @foreach (var item in Model)
                            {
                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid border rounded" src="@Url.Content(item.Image)" alt="" style="width: 150px; height: 150px;">
                                <div class="text-start ps-4">
                                        <h5 class="mb-3">@item.SpecialistName</h5>
                                    <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                    <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                    <span class="text-truncate me-3"><i class="fa fa-phone text-primary me-2"></i>@item.SpecialistTel</span>
                                    <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                <div class="d-flex mb-3">
                                    <a class="btn btn-primary" href="">Details</a>
                                </div>
                                <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: 01 Jan, 2045</small>
                            </div>
                            }
                        </div>
                    </div>
                    <a class="btn btn-primary py-3 px-5" href="">Browse More Jobs</a>
                </div>
            </div>
        </div>
    </div>
</div>








<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="@Url.Content(item.Image)" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.SpecialistName</h5>
                    <p class="card-text">@item.SpecialistEmail</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    }
</div>